body
{
    background: white;
    font-family: 'Arial';
    color:#004080;
}

#container
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

#topbar
{
    height:120px;
    width:100%;
    text-align:left;
    color: ;
}

#menu
{
    width:100%;
    text-align:left;
}

.option
{
    float:left;
    padding:10px;
    margin-right: 10px;
    border:2px solid #000000;
    background: #8fb7f7;
}
.option:hover
{
    float:left;
    padding:10px;
    margin-right: 10px;
    border:2px solid #000000;
    background: #cfe0fc;
    cursor: pointer;
}
.option_blank
{
    float:left;
    padding:10px;
    margin-right: 10px;
    border:2px solid #000000;
    background: #e3eaf4;
}
a
{
    text-decoration:none;
    color: #444444;
}
a:hover
{
    color:;
}
